.home{
    background-image:url("../../assets/img/Calender.jpg") ;
 
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}