<div class="container-fluid footer">
    <section id="section">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4">
                <a routerLink="/about-us">About us</a><br>
                <a routerLink="/contact-us">Contact us</a><br>
                <a routerLink="term">Terms & conditions</a>
            </div>
            <div class="col-lg-4">
                <a href="#" target="_blank"><i class="bi bi-facebook"></i> Facebook</a><br>
                <a href="#" target="_blank"><i class="bi bi-whatsapp"></i> Whatsapp</a><br>
                <a href="#" target="_blank"><i class="bi bi-twitter"></i> Twitter</a><br>
                <a href="#" target="_blank"><i class="bi bi-instagram"></i> Instagram</a><br>
            </div>
            <div class="col-lg-3">
                <p>2 Aubrey Matlakala St, Soshanguve-K, Soshanguve 0001<br> +012 655 3215 <br> stemia@gmail.com</p>
            </div>
        </div>
    </section>
</div>