<body>
    <div class="home vh-100"></div>
    <section id = "section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="display-2" style="font-weight: bold;">Contact us</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="display-4" style="font-weight: bold;">Address</h2>
                    <p>2 Aubrey Matlakala st</p>
                    <p>Soshanguve-K</p>
                    <p>Soshanguve, 001</p>
                </div>
            </div>
            <hr size="3" width="40%" color="black">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="display-4" style="font-weight: bold;">Electronic Mail</h2>
                    <p>support@STEMIA.com</p>
                </div>
            </div>
            <hr size="3" width="40%" color="black">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="display-4" style="font-weight: bold;">Phone support</h2>
                    <p>Hours : 9am - 5am (SAT), Monday - Friday</p>
                    <p>012-466-3522</p>
                </div>
            </div>
            <hr size="3" width="40%" color="black">
        </div>
    </section>
</body>
