<body>
    <div class="home vh-100"></div>
    <section id="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="display-2" style="font-weight: bold;">About us</h1>
                    <div class="col-lg-20">
                        <p>Arousing interest of the pupil in the <strong>Science, Technology, Engineering, Math, Innovation </strong> and <strong>Arts</strong> through interactive and fun activities to prepare them for the future. </p>
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
            
                    <h1 class="display-3 text-center" style="font-weight: bold; ">Our Team</h1>
                    <div class="col-lg-3 mt-3 mb-5">
                        <img  src="assets/grp/one.jpg" width="180" height="180">
                        <h6><strong>Thandi Mahlahlo <br> <em>..Front-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3 mb-5">
                        <img  src="assets/grp/mxo.jpg" width="180" height="180">
                        <h6><strong>Mxolisi Zwane <br> <em>..Front-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/momo.jpg" width="180" height="180">
                        <h6><strong>Karabo Koenaite<br> <em>..Front-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/zaza.jpg" width="180" height="180">
                        <h6><strong>Karabo Mashiloane <br> <em>..Back-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/zozo.jpg" width="180" height="180">
                        <h6><strong>Lesego Sekgala <br> <em>..Back-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/two.jpg" width="180" height="180">
                        <h6><strong>Koketso Mosefowa<br> <em>..Back-end developer..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/zuzu.jpg" width="180" height="180">
                        <h6><strong>Nonhlanhla Cindi <br> <em>..Business Analyst..</em></strong></h6>
                    </div>
        
                    <div class="col-lg-3 mt-3">
                        <img  src="assets/grp/mimi.jpg" width="180" height="180">
                        <h6><strong>Zimkhitha Joyisi <br> <em>..Business Analyst..</em></strong></h6>
                    </div>                
            </div>
            
        
    </section>
</body>