.home{
    background-image:url('\src\assets\img\Tech backgroung.jpg') ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: center;
    background-color: rgba(26, 26, 75, 0.8);
    z-index: -1;
}
.login-wrapper{
    margin: 20rem auto;
    width: 20rem;
}
section {
    padding-top: 20px;
}