.home{
    background-image:url('\src\assets\img\Tech backgroung.jpg') ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}
.home::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(26, 26, 75, 0.8);
    z-index: -1;
  }
.display-1{
    color: var(--dark);
    font-weight: 700;
}