.home{
    background-image:url('\src\assets\img\competition.jpg') ;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}