<div class="contaniner">
    <div class="button">
        <a routerLink="/physical" class="btn btn-sm btn-light mb-3"><span style="color:red ;">Back</span></a>
    </div>
    <h1 class="text-center">Physical science</h1>
    <div class="row">
        <div class="col-lg-3">
            <h3>Chapters</h3>
            <p><a href=""><i class="bi bi-folder-fill"></i>  Chapter 1: Skills for science <br><i class="bi bi-folder-fill"></i>  Chapter 2: Momentum and impulse <br><i class="bi bi-folder-fill"></i>  Chapter 3: Vertical projectile motion in one dimension <br><i class="bi bi-folder-fill"></i>
                  Chapter 4: Organic molecules <br><i class="bi bi-folder-fill"></i>  Chapter 5: Work energy and power</a> </p>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">Videos</h3>
            <p> <iframe src="https://www.youtube.com/embed/9oTqRxIaaoI" frameborder="0"></iframe>       
                <iframe src="https://www.youtube.com/embed/p_o4aY7xkXg" frameborder="0"></iframe>
                <iframe src="https://www.youtube.com/embed/0d2YsZnE_mM" frameborder="0"></iframe>
            </p>
            
        </div>
        <div class="col-lg-1">
            <h3>Quiz</h3>
            <p><a href=""><i class="bi bi-unlock"></i> Quiz - part 1 <br><i class="bi bi-lock-fill"></i>Quiz - part 2 <br><i class="bi bi-lock-fill"></i>Quiz - part 3 <br><i class="bi bi-lock-fill"></i>Quiz - part 4 <br><i class="bi bi-lock-fill"></i>Quiz - part 5</a></p>
            
        </div>
        <div class="col-lg-2">
            <h3>Assessment task</h3>
        </div>
    </div>
</div>
