/* You can add global styles to this file, and also import other style files */
.body{
    background-image:url('\src\assets\img\Tech backgroung.jpg') ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    height: 100vh;
}
