<div class="home vh-100 d-flex justify-content-center align-items-center">
     <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1 class="text-white display-1">WELCOME TO STEMIA</h1>
                <br>
                <h4 class="text-white">Prepare for tertiary with us!!!</h4>
                <br>
                <p class="text-white">Assisting students to prepare <br> themselves to undertake <br> undergraduate study.</p>
            </div>
        </div>
    </div>
</div>